body{
    background-color:#900000 ;
}
.container

{
    color: black;
    text-align: center;
    font-family: Arial;
}
a
{
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 5px 10px;
    text-decoration: none;
}

h1
{
    text-align: center;
    padding: 15px 0;
}

nav
{
    
    margin-top: 15px;}